*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    /* background-color: rgb(239, 239, 255); */
    width: 80%;
}
.process-section{
    background-color: white;
}
.left-and-right-text{
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem;
}
.left-text h1{
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    font-weight: 800;
} 
.left-text p{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.right-text-images{
    display: flex;
}
.right{
    font-family: 'Manrope', sans-serif;
    font-size: 700;
}
.rightP{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    padding-bottom: 2rem;
}
.number-icon{
    display: flex;
    flex-direction: column;
}
.circle{
    margin-bottom: 3.5rem;
    margin-right: 0.7rem;
}
.offer-section{
    background-color: #F2F2F2;
    padding: 2rem 2rem;
}
.offer-section p{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.4rem;
}
.offer-section h2{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 800;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.offer-section .desc{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.2rem;
    padding-right: 2rem;
}
.first-row-img {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
 .diagnostics-img img{
    padding-left: 4rem;
}
.diagnostics-img{
    background: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
}
.engine-repair-icon img{
padding-left: 4rem;
} 
 .engine-repair-icon{
    background-color: white;
    width: 23%;
    height: 25%;
    padding: 1rem;
} 
 .wheel-repair-icon{
    background-color: #FF6433;
    width: 25%;
    height: 25%;
    padding: 1rem;
} 
.wheel-repair-icon img{
    padding-left: 4rem;
} 
.oil-filter-icon{
    background-color: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
}
.oil-filter-icon img{
    padding-left: 4rem;
}
.body-work-icon,.batteries,.insurance-claim-icon,.custom-icon{
    background-color: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
    margin-right: 0.5rem;
}
.body-work-icon img{
    padding-left: 4rem;
}
.second-row-img{
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    margin-bottom: 6rem;
}

#cta{
    width: 100%;
}

#orange{
    width: 35%;
    height: 42%;
    margin-left: 9rem;
}
.percentage{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.percentage p{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.2rem;
}
.row-one, .row-two{
    display: flex;
    background-color: #FAFAFA;
}
 .row-one-logo,.row-two-logo{
     margin: 0 auto;
    width: 18%;
    padding-right: 1rem;
}
.last-section{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
.last-section h3{
    text-align: center;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 700;
    font-size: 2rem;
    padding: 2rem;
}
