*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    /* background-color: rgb(239, 239, 255); */
    width: 80%;
}
.process-section{
    background-color: white;
}
.left-and-right-text{
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem;
    width: 100%;
}
.left-text h1{
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
} 
.left-text p{
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.right-text-images{
    display: flex;
}
.right{
    font-family: 'Manrope', sans-serif;
    font-size: 700;
}
.rightP{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    padding-bottom: 2rem;
}
.number-icon{
    display: flex;
    flex-direction: column;
}
.circle{
    margin-bottom: 3.5rem;
    margin-right: 0.7rem;
}
#circle3{
    padding-bottom: 4rem;
}
.offer-section{
    background-color: #F2F2F2;
    padding: 2rem 2rem;
}
.offer-section p{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.4rem;
}
.offer-section h2{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 800;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.offer-section .desc{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.2rem;
    padding-right: 2rem;
}
.first-row-img {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
 .diagnostics-img img{
    padding-left: 4rem;
}
.diagnostics-img{
    background: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
}
.engine-repair-icon img{
padding-left: 4rem;
} 
 .engine-repair-icon{
    background-color: white;
    width: 23%;
    height: 25%;
    padding: 1rem;
} 
 .wheel-repair-icon{
    background-color: #FF6433;
    width: 25%;
    height: 25%;
    padding: 1rem;
} 
.wheel-repair-icon img{
    padding-left: 4rem;
} 
.oil-filter-icon{
    background-color: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
}
.oil-filter-icon img{
    padding-left: 4rem;
}
.body-work-icon,.batteries,.insurance-claim-icon,.custom-icon{
    background-color: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
    margin-right: 0.5rem;
}
.body-work-icon img{
    padding-left: 4rem;
}
.second-row-img{
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    margin-bottom: 6rem;
}

#cta{
    width: 100%;
}

#orange{
    width: 35%;
    height: 42%;
    margin-left: 9rem;
}
.percentage{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.percentage p{
    font-family: 'Manrope', sans-serif;
    font-size: 600;
    font-size: 1.2rem;
}
.row-one, .row-two{
    display: flex;
    background-color: #FAFAFA;
}
 .row-one-logo,.row-two-logo{
     margin: 0 auto;
    width: 18%;
    padding-right: 1rem;
}
.last-section{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
.last-section h3{
    text-align: center;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 700;
    font-size: 2rem;
    padding: 2rem;
}

 @media(max-width:769px){
    .wrapper{
        margin: auto;
        width: 80%;
    }
    .process-section,.offer-section,.ratings-section{
        width: 100%;
    }
    .left-and-right-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-text h1{
        font-size: 1.7rem;
        padding-bottom: 0.6rem;
    }
    .left-text p{
        font-size: 1rem;
        padding-bottom: 3rem;
    }
    #h2-two{
        margin-top: 3rem;
    }
    #p-three{
        margin-top: 1rem;
    }
    #h2-three{
        margin-top: 2rem;
    }
    .offer-section h2{
        font-size: 1.5rem;
    }
    .first-row-img{
        margin-bottom: 0.2rem; 
    }
    .diagnostics-img,.engine-repair-icon,.wheel-repair-icon,.oil-filter-icon{
        display: flex;
        flex-direction: column;
        height: 6rem;
        width: 6rem;
        margin-right: 0.1rem;
    }
    .offer-section .group1img, .group2img {
        width: 3rem;
        padding-left: 1rem;
    }
   .offer-section .desc{
        font-size: 0.7rem;
    }
    .body-work-icon,.batteries,.insurance-claim-icon,.custom-icon{
        display: flex;
        flex-direction: column;
        height: 6rem;
        width: 6rem;
        margin-right: 1rem; 
    }
    .percentage{
        display: flex;
    }
    .professional,.experience,.service,.satisfaction{
        padding: 1.2rem;
    }
}
@media(max-width: 426px){
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .process-section,.offer-section,.ratings-section{
        width: 100%;
    }
    .left-and-right-text{
        display: flex;
        flex-direction: column;
    }
    .left-text h1{
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1.3rem;
    }
    .left-text p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .right-text-images {
        display: flex;
    }
    .right, .rightP{
        font-size: 1.2rem;
    }
    #h2-two{
        margin-top: 0.1rem;
    }
    #h2-three{
        margin-top: 0.1rem;
    }
    #p-three{
        margin-top: 0.1rem;
    }
    .process-section{
        padding-bottom: 1rem;
    }
    .offer-section h2 {
        font-size: 1.4rem;
    }
    .offer-section p{
        font-size: 0.8rem;
    }
    .offer-section{
        display: flex;
        flex-direction: column;
    }
    .diagnostics-img,.engine-repair-icon,.wheel-repair-icon,.oil-filter-icon {
        height:5.7rem;
        width: 5.7rem;
        margin: 0.1rem;
    }
    .offer-section .desc{
        font-size: 1rem;
        text-align: center;
    }
    .group1img,.group2img {
        display: none;
    }
    .body-work-icon,.batteries,.insurance-claim-icon,.custom-icon{
        height: 5.7rem;
        width: 5.7rem;
        margin: 0.1rem;
    } 

    .percentage{
        display: flex;
        flex-direction: column;
    }
    .professional,.experience,.service,.satisfaction{
        margin: auto;
        padding: 1rem;
    }
    } 